{% extends 'Home/base.html' %}

{% block tittle %}
Experience
{% endblock %}



{% block content %}
<h3 style="margin: 20px;">Experience History</h3>
<p style="margin: 20px;">No work Experience. Recently I have completed my BSc in Computer Science & Engineering. As a fresh and enthusiastic Django software developer, I am eager to apply my passion for web development and problem-solving skills to contribute to innovative projects. With a solid foundation in Django framework and web technologies, I am excited to embark on a professional journey where I can further enhance my skills and make a meaningful impact. </p>
                
{% endblock %} 