{% extends 'Home/base.html' %}

{% block tittle %}
Skills
{% endblock %}

{% block content %}
<h3 style="margin: 20px;">


My Skills -
</h3>  

<h4>Programming Languages : <br></h4>

    <h6>Python</h6>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <h6>Javasript</h6>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <h6>Java (Basic)</h6>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <h6>C (Basic)</h6>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
   
    <h6>C++ (Basic)</h6>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <br>

<h4>Front-end Technologies: <br></h4>
<h6>HTML</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>CSS</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>BOOTSTRAP 5</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Jquery</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h6>WordPress Plugin Customization</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>WordPress Theme Customization</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br>
<br>

<h4>Back-end Technologies: <br></h4>
<h6>Django</h6>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
</div><br> <br> <br>


    
    

    



{% endblock %} 