{% extends 'Home/base.html' %}

{% block tittle %}
Education
{% endblock %}



{% block content %}

<style>

    table{ 
        padding: 50px;
        
        display: inline-block;
        
    }
    th, td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 10px;

    }
    th{
        text-align: center;
    }
    
    h3{
        margin-top: 40px;
        
    }


</style>

<h3>Educational Background -</h3>


<table class="center">
    <tr>
        <th>Degree</th>
        <th>Reslut</th>
        <th>Passing Year</th>
        <th>Institute</th>
    </tr>
    <tr>
        <td>BCSE</td>
        <td>3.70 (out of 4 upto 11th semester)</td>
        <td>2023</td>
        <td>IUBAT- International University of Business Agriculture & Tecnhnology</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>4.33 (out of 5)</td>
        <td>2019</td>
        <td>Narsingdi Model College</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>4.68 (out of 5)</td>
        <td>2017</td>
        <td>Ghorashal Pilot High School</td>
    </tr>
</table>



<p></p>

<h3>Additional Completed Course -</h3>
<table>
    <tr>
        <th>Course</th>
        <th>Completed Year</th>
        <th>Institute</th>
    </tr>
    <tr>
        <td>Advanced WordPress Theme development</td>
        <td>2018</td>
        <td>SoftTech-IT</td>
    </tr>
</table>
                
{% endblock %} 